

{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      {% if pub.fecha_publicacion %}
            <div class="date">
                {{ pub.fecha_publicacion }}
            </div>

          {% else %}
            <a class="btn btn-default" href="{% url 'publicarborrador' pk=pub.pk %}">Publicar</a>
          {% endif %}

            {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'remover' pk=pub.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              <a class="btn btn-default" href="{% url 'editar' pk=pub.pk %}">
              <span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        <h1>{{ pub.titulo }}</h1>
        <p>{{ pub.texto|linebreaksbr }}</p>
    </div>
{% endblock %}
